@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


body,
input,
textarea,
button,
select {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Set the background color of all pages */
/* html,
body {
    /* background: -webkit-linear-gradient(bottom, #1F2F98, #2EAAFA);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
} */

/* Set the style of the navigation list */
header nav ul,
footer nav ul {
    background-color: white;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
}

/* Sets the footer to the bottom of the screen */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Set the spacing and layout of the nav list items */
header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
}

/* Set the style of the links in the nav */
header nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #1F2F98;
}

/* Changes nav links color on hover */
header nav ul li a:hover {
    transition: 0.15s;
    color: #2EAAFA;
}

/* Make the input tags look nicer */
input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
}

/* Make the select boxes look nicer */
select {
    height: 2.5em;
}

/* Make the select-multiple boxes look nicer */
select[multiple] {
    height: 7.5em;
}

/* Make the textarea inputs look nicer */
textarea {
    margin: 0;
    padding: .25em .5em;
}

/* Set the width on all tables */
table {
    width: 100%;
}

/* Adds padding and margin to the botom of main */
main {
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.background-gradient {
    background: -webkit-linear-gradient(bottom, #1F2F98, #2EAAFA);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: fixed;
}


/* Set the size of the help text in forms */
.helptext {
    display: block;
    font-size: 80%;
}


/* Organizes the logo links */
.logo-link {
    height: 15px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.logo-link:hover {
    height: 20px;
    transition: 0.5s;
}

/* Flexes the logos */
.logo-order {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: 1px solid #CCC;
    margin-bottom: 0;
}


/* Make the login and sign-up forms look nicer */
.login-form,
.signup-form {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 400px;
    padding: 2em;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
}

/* Make the task and projects forms look nicer */
.task-form,
.project-form,
.delete-form,
.edit-form,
.comment-form {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 600px;
    padding: 2em;
}

/* Make all of the headers the same */
.task-form h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1,
.delete-form h1,
.edit-form h1,
.comment-form h1 {
    margin-top: 0;
}

/* Add spacing to the section of the project detail */
.project-detail h2 {
    margin-top: 2em;
}

/* Standardize form layout using grid */
.task-form p,
.login-form p,
.signup-form p,
.project-form p,
.edit-form p,
.delet-form p,
.comment-form p {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 100px 1fr;
}

/* Standardize help text positions in the grid */
.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext,
.edit-form p .helptext,
.delete-form p .helptext,
.comment-form p .helptext {
    grid-column-start: 2;
    grid-column-end: 3;
}

/* Make the buttons a look nicer */
.task-form button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.project-form button,
.delete-form button,
.edit-form button,
.comment-form button,
.search-bar button {
    height: 42.3px;
    margin: 0 auto;
    margin-top: 10px;
    transition: 0.25s;
    width: 153px;
    background: -webkit-linear-gradient(right, #2EAAFA, #1F2F98);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #2EAAFA;
    cursor: pointer;
    color: white;
}

/* Make buttons glow when you hover over them */
.task-form button:hover,
.my-tasks-list button:hover,
.login-form button:hover,
.signup-form button:hover,
.project-form button:hover,
.delete-form button:hover,
.edit-form button:hover,
.comment-form button:hover,
.search-bar button:hover {
    box-shadow: 0px 1px 18px #2EAAFA;
}

.search-bar button {
    width: 80px;
    height: 30px;
    margin-left: 5px;
}

/* Add a nice box around the lists and details */
.my-tasks-list,
.project-list,
.project-detail {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 800px;
    padding: 2em;
}

/* Add padding to the table header and table datum tags */
.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
    padding: .5em;
}

/* Add a bottom border to the table header tags */
.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
    border-bottom: 2px solid #2EAAFA;
}

/* Change color of data links */
td a,
div a {
    color: #2EAAFA;
}

/* Center align the text on specific table header cells */
.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
    text-align: center;
}

/* Add horizontal rules to all rows except the last */
.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
    border-bottom: 1px solid #DEDEDE;
}

/* Makes the links to change projects and tasks to look nicer */
.change-container {
    display: flex;
    justify-content: space-between;
}

/* Lessens the bottom margin for the h2 heading */
.project-detail h2 {
    margin-bottom: 5px;
}

/* Aligns comment heading to the left */
.comment-table th h2 {
    display: flex;
    align-content: flex-start;
}

.comment-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #DEDEDE;
}
