{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
    <div class="background-gradient"></div>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'list_projects' %}">My Projects</a>
                        </li>
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li class="search-bar">
                            <form method="POST" action="{% url "search_tasks" %}">
                                {% csrf_token %}
                                <input type="search" placeholder="Search Tasks" name="searched">
                                <button type="submit">Search</button>
                            </form>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            <nav>
                <ul class="logo-order">
                    <li>
                        <a href="https://www.linkedin.com/in/gregorylyttle/">
                            <img src="{% static 'images/LI-Logo.png' %}" alt="LinkedIn Logo" class="logo-link">
                        </a>
                    </li>
                    <li>
                        <a href="https://gitlab.com/lyttlegc">
                            <img src="{% static 'images/gitlab-logo.png' %}" alt="GitLab Logo" class="logo-link">
                        </a>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
