{% extends 'base.html' %}

{% block title %}Edit {{ task.name }}{% endblock title %}

{% block content %}
    <main>
        <div class="edit-form">
            <h1>Edit {{ task.name }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
        </div>
    </main>
{% endblock content %}
