{% extends 'base.html' %}

{% block title %}
    My Tasks - Project Manager
{% endblock title %}
{% block content %}
    <main>
        <div class='my-tasks-list'>
            {% if searched %}
                <h1>Results for {{ searched }}</h1>
                {% for task in tasks %}
                <li>
                {{ task.name }} | <strong>Completed: {{ task.is_completed|yesno }}</strong> |
                <a href="{% url 'show_project' task.project.id  %}"> {{ task.project.name }}</a>
                </li>
                {% endfor %}
            {% else %}
                <h1>You Forgot to Search for Something!</h1>
            {% endif %}
        </div>
    </main>
{% endblock content %}
