{% extends 'base.html' %}

{% block title %}
    My Tasks - Project Manager
{% endblock title %}
{% block content %}
    <main>
        <div class='my-tasks-list'>
            <h1>My Tasks</h1>
            <p>
                <a href="{% url 'create_task' %}">Create a New Task</a>
            </p>
            <p>
            {% if tasks %}
                <table>
                    <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Project</th>
                            <th>Task</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Completed</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks.all %}
                            <tr>
                                <td><a href="{% url 'edit_task' task.project.id %}">[EDIT]</a></td>
                                <td><a href="{% url 'show_project' task.project.id %}">{{ task.project }}</a></td>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date|date:"m/d/Y" }}</td>
                                <td>{{ task.due_date|date:"m/d/Y" }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                                <td><a href="{% url 'delete_task' task.id %}">[DELETE]</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
