{% extends 'base.html' %}

{% block title %}
    Create a Project - Project Manager
{% endblock title %}
{% block content %}
    <main>
        <div class='project-form'>
            <h1>Create a New Project</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
