{% extends 'base.html' %}

{% block title %}Create Comment - {{ project.name }}{% endblock title %}

{% block content %}
<main>
    <div class='comment-form'>
        <h1>Add a comment</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
    </div>
</main>
{% endblock content %}
