{% extends 'base.html' %}

{% block title %}Delete {{ project.name }}{% endblock title %}

{% block content %}
<main>
    <div class="delete-form">
        <h1>Are You Sure You Want to Delete {{ project.name }}?</h1>
        <p>This decision cannot be undone.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Yes, I'm Sure</button>
        </form>
    </div>
</main>
{% endblock content %}
