{% extends 'base.html' %}

{% block title %}Delete {{ project.name }}{% endblock title %}

{% block content %}
<main>
    <div class="delete-form">
        <h1>Are You Sure You Want to Delete this Comment?</h1>
        <p><strong>{{ comment.name }} - {{ comment.date_posted }}</strong></p>
        <p>{{ comment.body }}</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Yes, I'm Sure</button>
        </form>
    </div>
</main>
{% endblock content %}
