{% extends 'base.html' %}

{% block title %}
    {{ project.name }} - Project Manager
{% endblock title %}
{% block content %}
    <main>
        <div class='project-detail'>
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <h2>Tasks</h2>
            <div class="change-container">
                <p>
                    <a href="#comment-section">Comments</a>
                </p>
                <p>
                    <a href="{% url 'create_task' %}">Create a New Task</a>
                </p>
                <p>
                    <a href="{% url 'edit_project' project.id %}">Edit {{ project.name }}</a>
                </p>
                <p>
                    <a href="{% url 'delete_project' project.id %}">Delete {{ project.name }}</a>
                </p>
            </div>
            {% if project.tasks.all|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr>
                                <td><a href="{% url 'edit_task' task.id %}">[EDIT]</a></td>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date|date:"m/d/Y" }}</td>
                                <td>{{ task.due_date|date:"m/d/Y" }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                                <td><a href="{% url 'delete_task' task.id %}">[DELETE]</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
            <table class="comment-table" id="comment-section">
                <thead>
                    <tr>
                        <th><h2>Comments...</h2></th>
                    </tr>
                    <tr>
                        <td><a href="{% url 'create_comment' %}">[Add Comment]</a></td>
                    </tr>
                </thead>
                <tbody class="comment-body">
                    <tr class="comment-row">
                    {% if not project.comments.all %}
                        <td>There are no comments right now</td>
                    {% else %}
                        {% for comment in project.comments.all %}
                        <td>
                            <strong>
                                {{ comment.name }} - {{ comment.date_posted }} - <a href="{% url 'delete_comment' comment.id %}">[DELETE]</a>
                            </strong>
                        </td>
                        <td>{{ comment.body }}</td>
                        {% endfor %}
                    {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
